<div class="banner">
  <div class="container">
    <h1>Consultoria de Sono por Mônica Mafra</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a
      class="btn-primary"
      href="https://wa.me/5531991941053?text=Olá!%20Gostaria%20de%20saber%20mais%20sobre%20a%20consultoria%20de%20sono."
      target="_blank"
      rel="noopener"
      >
      Contrate agora!
      </a>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Como funciona?</h2>

  <div class="cards">
    <div class="card">
      <%= image_tag "apply.jpg" %>
      <h3>Faça a consultoria</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.</p>
    </div>

    <div class="card">
      <%= image_tag "learn.jpg" %>
      <h3>O que é?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.</p>
    </div>

    <div class="card">
      <%= image_tag "product.jpg" %>
      <h3>Benefícios</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa.</p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="links">
    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</div>
