<section class="plans-section">
  <div class="plans-container">

    <div class="plan-card">
      <span class="plan-badge">Mais básico</span>

      <h3>Consulta Express</h3>

      <p class="plan-description">
        Ideal para questões pontuais, eu ensino e o cliente implementa.
      </p>

      <p class="plan-description small">
        1 hora de duração.
      </p>


      <div class="plan-price">
  <span class="price-main">R$ 400,00</span>

  <span class="price-cash">
    ou <strong class="price-highlight">R$ 500,00</strong> em domicílio
    <strong class="price-region">(região Centro e Centro Sul de BH)</strong>
  </span>
</div>

      <a
        class="btn-primary plan-btn"
        href="https://wa.me/5531991941053?text=MENSAGEM_PLANO_ESSENCIAL"
        target="_blank"
        rel="noopener"
      >
        Quero esse plano
      </a>
    </div>

    <div class="plan-card featured">
      <span class="plan-badge">Recomendado</span>

      <h3>Plano Completo</h3>

        <p class="plan-description">
        Para bebês com questões pontuais ou orientação, com 15 dias de acompanhamento, para você ter ajuda na hora de implementar as mudanças.
        </p>

        <p class="plan-details">
          Consulta de orientação personalizada, duração de até 1h30 aproximadamente, on-line ou presencial em Belo Horizonte
        </p>

        <p class="plan-description small">
        Acompanhamento  por 15 dias
       </p>


      <div class="plan-price">
  <span class="price-main">R$ 850,00</span>
  <span class="price-installments">em até 2x</span>

  <span class="price-cash">
    ou <strong>R$ 770,00</strong> à vista
  </span>
</div>


      <a
        class="btn-primary plan-btn"
        href="https://wa.me/5531991941053?text=MENSAGEM_PLANO_COMPLETO"
        target="_blank"
        rel="noopener"
      >
        Quero esse plano
      </a>
    </div>

    <div class="plan-card">
      <span class="plan-badge">Premium</span>

      <h3>Plano Premium</h3>

       <p class="plan-description">
        Para quem quer um acompanhamento mais longo.
        </p>

    <div class="plan-details">
        <p class="plan-details-title">Inclui:</p>

        <p>Análise do questionário;</p>
        <p>Estudo do caso;</p>
        <p>Plano de sono personalizado;</p>
        <p>1 consulta presencial em BH ou em domicílio na região Centro-Sul;</p>
        <p>Para outras localidades, a consulta será realizada on-line;</p>
        <p>1 consulta on-line por Google Meet, FaceTime, Zoom ou WhatsApp (vídeo);</p>
        <p>Acompanhamento diário por WhatsApp durante 3 semanas.</p>
      </div>

        <p class="plan-description small">
        Suporte on-line ilimitado por 3 meses;
       </p>

      <div class="plan-price">
  <span class="price-main">R$1690,00</span>
  <span class="price-installments">em até 3x sem juros ou
em até 12x com juros
</span>

  <span class="price-cash">
    ou <strong>R$1530,00</strong> à vista
  </span>
</div>
      <a
        class="btn-primary plan-btn"
        href="https://wa.me/5531991941053?text=MENSAGEM_PLANO_PREMIUM"
        target="_blank"
        rel="noopener"
      >
        Quero esse plano
      </a>
    </div>

  </div>
</section>
