.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}

@media (max-width: 900px) {
  .container {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 20px;
  }
}
