.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  width: 150px;
}

.card p {
  opacity: 0.5;
}

/* Cards responsivos */
@media (max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .cards {
    justify-content: center;
    gap: 20px;
  }

  .card {
    width: 100%;
    max-width: 320px;
  }
}
