.footer {
  text-align: center;
  padding: 40px;
  background-color: #5BB5B4;
}

.footer a {
  font-size: 30px;
  color: #FDFBFB;
}

.footer p {
  color: #6B6C6C;
}

.footer {
  background-color: #5BB5B4;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer-image {
  max-height: 170px;
  width: auto;
}

