.about-section {
  padding: 40px 0 70px;
  background-color: #fff;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  gap: 80px;
}

.about-image img {
  max-width: 300px;
  width: 100%;
}

.about-content {
  max-width: 620px;
}

.about-content h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #5BB5B4;
}

.about-content .subtitle {
  font-size: 18px;
  color: #e79d9d;
  margin-bottom: 24px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.75;
  color: #777;
  margin-bottom: 32px;
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .about-content h2 {
    font-size: 32px;
  }

  .about-section {
    padding: 32px 0 60px;
  }

}

@media (max-width: 600px) {
  .about-content p {
    font-size: 17px;
  }
}
