.navbar {
  background-color: #5BB5B4;
  width: 100%;
  height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.navbar-center {
  width: 100%;
}

.navbar-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 46px; /* ajuste */
  width: auto;
}

.navbar-links-left {
  justify-content: flex-start;
}

.navbar-links-right {
  justify-content: flex-end;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar-links a:hover::after {
  width: 100%;
}

/* Botão hambúrguer */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
  z-index: 2000;
}

/* Navbar mobile */
@media (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 14px 0;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links {
    flex-direction: column;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .navbar-links.open {
    max-height: 400px;
  }

  .navbar-links a {
    font-size: 16px;
  }

  .navbar-logo {
    order: 1;
    margin: 10px 0;
  }

  .menu-toggle {
    order: 0;
    align-self: flex-start;
  }

  .navbar-center {
    flex-direction: column;
    align-items: center;
  }

  .nav-cta {
  font-size: 16px;
  padding: 10px 16px;
  }

}

.nav-cta-item {
  margin-left: 10px;
}

/* botão principal */
.nav-cta {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;

  padding: 10px 18px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.22);
  border: 1px solid rgba(255, 255, 255, 0.38);

  color: white;
  text-decoration: none;

  transition: transform 0.2s ease, background 0.2s ease;
}

.nav-cta:hover {
  transform: translateY(-1px);
  background: rgba(255, 255, 255, 0.30);
}

/* remove underline hover padrão do menu do botão */
.nav-cta::after {
  display: none !important;
}
