/* BASE */
@import "base/reset";
@import "base/typography";

/* LAYOUT */
@import "layout/container";

/* COMPONENTES */
@import "components/navbar";
@import "components/banner";
@import "components/buttons";
@import "components/cards";
@import "components/footer";
@import "components/about";
@import "components/plans";
@import "components/contact";
@import "components/reviews";
@import "components/sobre";
